DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=automated_trading
DATABASE_USER=trading_owner
DATABASE_PASSWORD=
DATABASE_APPLICATION_NAME=AutomatedTrading
DATABASE_CONNECT_TIMEOUT=5
DATABASE_SSLMODE=prefer
